## Core latex/pdflatex auxiliary files:
*.aux
*.log
*.toc

## Ignore temporary book rendering
main.pdf
0*.pdf

## Ignore code directory
code/

## Local helper files:
copy-to-server
prompts.md
split-to-chapters.py
